body{
    background-color: white;
    background-size: cover;
}
.title{
    padding-bottom: 25px;
}
h2.title{
    color:#11101b;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

h2.title span{
    color:goldenrod;
}

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color:#11101b ;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: rgba(214, 184, 108, 0.918);
}

form input::placeholder{
    color:rgba(236, 202, 115, 0.623);
}

form textarea{
   resize: none;
   max-height: 400px;
   height: 200px;
   background-color:#11101b;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center

}

form .btn-enviar input{
    width: 120px;
    color:rgba(82, 70, 42, 0.918) ;
    background-color:rgba(219, 171, 50, 0.918);
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    justify-content: center;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgba(224, 176, 53, 0.918);
    transform: scale(1.05);


}

/* Chrome e outros ocultar setinha do número*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
